<!DOCTYPE html>
<html>
<head>
	<title>Valve Shim Calculator</title>
</head>
<body>
  <h1>Valve Shim Calculator for Subaru FA/FB Engines</h1>
    <table>
    	<thead>
    		<tr>
    			<th></th>
    			<th scope='col'>exhaust</th>
    			<th></th>
    			<th scope='col'>intake</th>
    			<th scope='col'>intake</th>
    			<th></th>
    			<th scope='col'>exhaust</th>
    		</tr>
    	</thead>
    	<tbody>
    		<tr>
    			<th scope='row'>clearance</th>
    			<td><%= @clearance[0][0] %></td>
    			<td></td>
    			<td><%= @clearance[1][0] %></td>
    			<td><%= @clearance[2][0] %></td>
    			<td></td>
    			<td><%= @clearance[3][0] %></td>
    		</tr>
    		<tr>
    			<th scope='row'>shim</th>
    			<td><%= @shim[0][0] %></td>
    			<td>Cyl 2</td>
    			<td><%= @shim[1][0] %></td>
    			<td><%= @shim[2][0] %></td>
    			<td>Cyl 1</td>
    			<td><%= @shim[3][0] %></td>
    		</tr>
    		<tr>
    			<th scope='row'>ideal</th>
                <td><%= (((@shim[0][0]*0.01)+1.69*(@clearance[0][0]-0.22))*100).floor %></td>
    			<!-- <td><%= @ideal[0][0] %></td> -->
    			<td></td>
                <td><%= (((@shim[1][0]*0.01)+1.54*(@clearance[1][0]-0.13))*100).floor %></td>
    			<!-- <td><%= @ideal[1][0] %></td> -->
                <td><%= (((@shim[2][0]*0.01)+1.54*(@clearance[2][0]-0.13))*100).floor %></td>
    			<!-- <td><%= @ideal[2][0] %></td> -->
    			<td></td>
                <td><%= (((@shim[3][0]*0.01)+1.69*(@clearance[3][0]-0.22))*100).floor %></td>
    			<!-- <td><%= @ideal[3][0] %></td> -->
    		</tr>
    		<tr>
    			<th scope='row'>clearance</th>
    			<td><%= @clearance[4][0] %></td>
    			<td></td>
    			<td><%= @clearance[5][0] %></td>
    			<td><%= @clearance[6][0] %></td>
    			<td></td>
    			<td><%= @clearance[7][0] %></td>
    		</tr>
    		<tr>
    			<th scope='row'>shim</th>
    			<td><%= @shim[4][0] %></td>
    			<td>Cyl 2</td>
    			<td><%= @shim[5][0] %></td>
    			<td><%= @shim[6][0] %></td>
    			<td>Cyl 1</td>
    			<td><%= @shim[7][0] %></td>
    		</tr>
    		<tr>
    			<th scope='row'>ideal</th>
                <td><%= (((@shim[4][0]*0.01)+1.69*(@clearance[4][0]-0.22))*100).floor %></td>
    			<!-- <td><%= @ideal[4][0] %></td> -->
    			<td></td>
                <td><%= (((@shim[5][0]*0.01)+1.54*(@clearance[5][0]-0.13))*100).floor %></td>
    			<!-- <td><%= @ideal[5][0] %></td> -->
                <td><%= (((@shim[6][0]*0.01)+1.54*(@clearance[6][0]-0.13))*100).floor %></td>
    			<!-- <td><%= @ideal[6][0] %></td> -->
    			<td></td>
                <td><%= (((@shim[7][0]*0.01)+1.69*(@clearance[7][0]-0.22))*100).floor %></td>
    			<!-- <td><%= @ideal[7][0] %></td> -->
    		</tr>
    		<tr>
    			<th scope='row'>clearance</th>
    			<td><%= @clearance[8][0] %></td>
    			<td></td>
    			<td><%= @clearance[9][0] %></td>
    			<td><%= @clearance[10][0] %></td>
    			<td></td>
    			<td><%= @clearance[11][0] %></td>
    		</tr>
    		<tr>
    			<th scope='row'>shim</th>
    			<td><%= @shim[8][0] %></td>
    			<td>Cyl 4</td>
    			<td><%= @shim[9][0] %></td>
    			<td><%= @shim[10][0] %></td>
    			<td>Cyl 3</td>
    			<td><%= @shim[11][0] %></td>
    		</tr>
    		<tr>
    			<th scope='row'>ideal</th>
                <td><%= (((@shim[8][0]*0.01)+1.69*(@clearance[8][0]-0.22))*100).floor %></td>
    			<!-- <td><%= @ideal[8][0] %></td> -->
    			<td></td>
                <td><%= (((@shim[9][0]*0.01)+1.54*(@clearance[9][0]-0.13))*100).floor %></td>
    			<!-- <td><%= @ideal[9][0] %></td> -->
                <td><%= (((@shim[10][0]*0.01)+1.54*(@clearance[10][0]-0.13))*100).floor %></td>
    			<!-- <td><%= @ideal[10][0] %></td> -->
    			<td></td>
                <td><%= (((@shim[11][0]*0.01)+1.69*(@clearance[11][0]-0.22))*100).floor %></td>
    			<!-- <td><%= @ideal[11][0] %></td> -->
    		</tr>
    		<tr>
    			<th scope='row'>clearance</th>
    			<td><%= @clearance[12][0] %></td>
    			<td></td>
    			<td><%= @clearance[13][0] %></td>
    			<td><%= @clearance[14][0] %></td>
    			<td></td>
    			<td><%= @clearance[15][0] %></td>
    		</tr>
    		<tr>
    			<th scope='row'>shim</th>
    			<td><%= @shim[12][0] %></td>
    			<td>Cyl 4</td>
    			<td><%= @shim[13][0] %></td>
    			<td><%= @shim[14][0] %></td>
    			<td>Cyl 3</td>
    			<td><%= @shim[15][0] %></td>
    		</tr>
    		<tr>
    			<th scope='row'>ideal</th>
                <td><%= (((@shim[12][0]*0.01)+1.69*(@clearance[12][0]-0.22))*100).floor %></td>
    			<!-- <td><%= @ideal[12][0] %></td> -->
    			<td></td>
                <td><%= (((@shim[13][0]*0.01)+1.54*(@clearance[13][0]-0.13))*100).floor %></td>
    			<!-- <td><%= @ideal[13][0] %></td> -->
                <td><%= (((@shim[14][0]*0.01)+1.54*(@clearance[14][0]-0.13))*100).floor %></td>
    			<!-- <td><%= @ideal[14][0] %></td> -->
    			<td></td>
                <td><%= (((@shim[15][0]*0.01)+1.69*(@clearance[15][0]-0.22))*100).floor %></td>
    			<!-- <td><%= @ideal[15][0] %></td> -->
    		</tr>
    	</tbody>
    </table>

  <h2>Update table <a href="update/new">here</a>.</h2>


</body>
</html>